@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url(./Assets/bost1.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;  
  font-family: cursive;  
}
.container_fluid{
  width: 80%;
  margin: 0 auto;
}

.swiper {
  width: 90%;
  height: 90%;
}

.swiper-slide {
  /* border: 1px solid #000; */
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 40%;
  height: 40%;
  object-fit: cover;
}